body {
	background-image: url('img/homework1.jpg');
	background-size: cover;
	background-repeat: none;
}

h1 {
	font-family:'Amatic SC', sans-serif;
	font-size: 110px;
	margin-bottom: 0px;
	text-align:center;
	color: #fff;
	text-shadow: 4px 4px 4px #000;
}

h3 {
	font-family:'Amatic SC', sans-serif;
	font-size: 36px;
	margin-top: 0px;
	margin-bottom: 50px;
	text-align:center;
	color: #fff;
	text-shadow: 4px 4px 4px #000;
}

.mycenter {
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

button {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 6px;
	font-family: 'Oswald', sans-serif;
	font-size: 28px;
	margin-top: 30px;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	background-color: #660066;
	border: 3px solid #fff;
	height: 60px;
	width: 200px;
}

button:hover{
	opacity: .75;
}

a{
	color: #000;
}

#excuses{
	position: relative;
	top: 30px;
	font-family: 'Amatic SC', monospace;
	font-size: 96px;
	color: #fff;
	text-align:center;
	text-shadow: 4px 4px 4px #000;
}

#license{
	position: absolute;
	bottom: 25px;
	font-family: monospace;
	font-size: 12px;
	text-align:center;
	color: #fff;
}

.container {
	position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 1280px;
    height: 100px;
}

/* resize images */
.container img {
    width: 10%;
    height: auto;
}
